<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supe-folio | API</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Koulen&family=Macondo&family=Oleo+Script&family=Rancho&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <h1 class="main-title">Supe-folio</h1>
        <form action="/" method="post">
            <div class="form-container">
                <input required autofocus type="text" placeholder="Search.." id="myInput" name="inputSupeName">
            </div>
        </form>
    </header>
    <div class="error-container">
        <h1>Opps !!</h1>
        <h2>Your Hero isn't found.</h2>
    </div>
    <footer>
        <h4>
            Designed & Coded with fun by <a href="https://itsmsb.com" target="_blank">MSB</a>.
        </h4>
        <h4>
            Powered by <a href="https://rapidapi.com/" target="_blank">Rapid-API</a>
        </h4>
    </footer>
    <script src="js/main'js"></script>
</body>

</html>